<% @title="職員トップページ" %>
<h1><%= @title %></h1>
<!-- インスタンス変数@titleに文字列をセット。
<% %>で囲まれた範囲はRubyコードとして解釈される
<%= %>で囲まれた範囲は、rubyコードとして解釈されたのち、文字列に変換

ERBテンプレートに文字列を埋め込む際、HTMLの特殊文字はエスケープ処理される。
不正なJavaScriptコードの防止のため。
もし特殊文字を含む文字列を入れたい場合、ActiveSupport::SafeBufferを使う。
挙動はStringとほぼ同じだが、このクラスのインスタンスはERBテンプレに埋め込まれる際、エスケープ処理されない。
⇒文字列をこのオブジェクトに変換すればよい
⇒インスタンスメソッドを使うorヘルパーメソッドを使う
@fragment = '<>&"'
<%= @fragment.html_safe %>
<%= raw(@fragment) %>
-- >